<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/ng-table.min.css">
    <link rel="stylesheet" href="css/main.min.css">

    <title>Karaoke App</title>
</head>
<body>
    <div class='banner'>
        <div class='container'>
            <h1>List</h1>
        </div>
    </div>
    <div class="container main-frame" ng-app="KaraokeApp" ng-controller="mainController" ng-init="init()">
        <div class="search-box row-fluid form-inline">
            <label for="inpFilterText">Filter: </label>
            <input type="text" ng-model="filterText" id="inpFilterText"/>
            <label for="selAvailableLangs">Language: </label>
            <select ng-model="langFilter" ng-options="label for label in availableLangs" id="selAvailableLangs">
                <option value="">All</option>
            </select>
        </div>
        <div class="results-top"></div>
        <div class="results-container">
            <ul class="episode-list">
                <li ng-repeat="songs in results | songSearch:filterText | isLang: langFilter">
                    {{songs.singer}} - {{songs.title}} <span class="label" ng-class="{'label-default': songs.lang != 'en', 'label-success': songs.lang == 'en'}">[{{songs.lang}}]</span>
                </li>
            </ul>
        </div>
        <div class="results-bottom"></div>

        <div class="center">
            <div class="pagination">
                <ul>
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()">« Prev</a>
                    </li>
                    <li ng-repeat="n in range(pagedProjects.length)"
                        ng-class="{active: n == currentPage}"
                        ng-click="setPage()">
                        <a href ng-bind="n + 1">1</a>
                    </li>
                    <li ng-class="{disabled: currentPage == pagedProjects.length - 1}">
                        <a href ng-click="nextPage()">Next »</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="js/angular.js"></script>
    <!-- INCLUDE APPLICATION SPECIFIC CSS AND JAVASCRIPT -->
    <script type="text/javascript" src="js/karaoke-app/app.js"></script>
    <script type="text/javascript" src="js/karaoke-app/controllers/mainController.js"></script>
    <script type="text/javascript" src="js/modules/ng-table.js"></script>
</body>
</html>